body {
  font-family: 'Rubik', sans-serif;
  background-color: rgb(255, 211, 130);
}


h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

h1{
  color: red;
  font-size: 60px;
}
#mainContainer{
  margin:80px
}
#containerLogin{
  max-width: 450px;
}
