body {
  font-family: 'Rubik', sans-serif;
  background-color: white;
  color: black;
}


h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

h1{
  color: red;
  font-size: 60px;
}
#mainContainer{
  margin-top:30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 50px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/ad/BlankMap-World_gray.svg");
  background-size: cover;
  /* border: 2px solid grey; */
  border-radius: 3px; 
  height: 78vh;
}


#containerMapForm{
  border-radius: 15px;
  background-color: white;
  padding: 30px;
  padding-bottom: 40px;
}
#containerLogin{
  max-width: 450px;
}
.logo {
  height: 3.3em;
  width: 13.5em;
  padding: 0px;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 5px;
  margin: 0px;
}

#linkGlobal:hover{
  box-shadow: white 0px 4px 12px;
  transition: 0.5s;
}
#itemDonate{
  border-radius: 20px;
  background-color: rgb(255, 196, 0);
  color: black;
  font-weight: bolder;
  
  
}
#itemDonate:hover{
  box-shadow: white 0px 4px 12px;
  transition: 0.3s;
}
#itemLogin{
  border-radius: 20px;
  /* color: black; */
  font-weight: bolder;
  margin-top: 15px;
}
#itemLogin:hover{
  box-shadow: white 0px 4px 12px;
  transition: 0.3s;
}
#titleForm{
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
}
#submitButton{
  background-color: rgb(255, 196, 0);
  color: black;
  height: 40px;
  width: 100px;
  margin-top: 40px;
  margin-bottom: 20px;
}
#submitButton:hover{
  background-color: rgb(255, 223, 117);
}
#passwordP{
  margin-right: 45px;
}
#nameSign{
  margin-right: 60px;
}
#emailSign{
  margin-right: 28px;
}
#passwordSign{
  margin-right: 60px;
}

#orange{
margin-bottom: 10px;
background: linear-gradient(90deg, rgba(0,212,255,1) 30%, rgba(9,9,121,1) 80%);
}
.logoCard{
height: 40px;
width: 50px;
}
#cardPa{
  margin-top: 10px;
  margin-bottom: 25px;
}

#containerCardForm{
  border: solid rgb(181, 181, 181) 3px;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
#containerBigForm{
  border: solid rgb(181, 181, 181) 3px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 40px;
}
#loggedIn{
 margin-top: 15px;
 margin-left: 10px;
}
#userName{
  color: white;
  font-size: 15px;
  font-weight: bolder;
}
#donateError{
  padding-top: 30px;
  text-align: center;
}